<h1>Welcome to WDInstragram!</h1>

<% @entries.each do |entry| %>
<img src="<%=entry.photo_url%>" alt="alt text here"><a href="<%=entry.photo_url%>">
<p>Author:  <a href="/entries/<%= entry.id %>"> <%= entry.author %></a></p>

<%end%>


<a href="/entries/new">Add an Entry</a>
